html {
  background: #888;
  .mobile-only {
    background-color: white;
    min-height: 100vh;
    width: 420px !important;
    margin: auto;
    nav.navbar {
      width: 420px !important;
      margin: auto;
      overflow-x: hidden !important;
    }
  }
}

$primary: #9030CF;

body {
  font-family: 'Open Sans';
}
.cursor-pointer {
  cursor: pointer !important;
}
a {
  text-decoration: none !important;
  color: $primary;
}
.color-primary {
  color: $primary;
}
nav.navbar {
  position: fixed;
  top: 0;
  display: block;
  background: #000;
  width: 100%;
  padding: 0;
  transition: background 0.15s ease;
  font-family: 'Inter';
  z-index: 100;
  &.navbar-open {
    background: #252525;
  }
  .navbar-brand {
    padding: 3px 0;
    display: flex;
    align-items: center;
    img {
      height: 51px;
      width: 51px;
    }
    .brand-text {
      color: #FFF;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      line-height: 1;
      font-weight: 600;
    }
  }
  .navbar-toggler {
    border: none !important;
    box-shadow: none !important;
  }
  .navbar-collapse {
    @media (min-width: 992px) {
      justify-content: end;
    }
  }
  .navbar-collapse ~ nav.navbar {
    background-color: #FFF;
  }
  .navbar-nav-links {
    display: none;
    color: #FFF;
    @media (min-width: 992px) {
      display: flex;
    }
    .nav-item {
      .nav-link {
        color: #FFF; 
        font-family: 'Inter';
        font-size: 12px;
        font-weight: 600;
        &:hover {
          color: $primary;
        }
      }
    }
  }
  .mobile-navbar-content {
    height: calc(100vh - 57px);
    @media (min-width: 992px) {
      display: none;
    }
      
    ul {
      margin: 0;
      margin-top: 10px;
      padding: 0 10px;
      li {
        list-style: none;
        padding: 5px 0;
        .nav-menu-title {
          font-size: 25px;
          font-weight: 700;
          text-transform: uppercase;
          color: #FFF;
          cursor: pointer;
          &:hover {
            color: $primary;
          }
        }
        .nav-menu-content {
          padding-top: 10px;
          &__cards {
            display: flex;
            width: 100%;
            gap: 10px;
            .card-item {
              min-height: 211px;
              width: 204px;
              .card-image {
                height: 115px;
                background: #AFAFAF;
                position: relative;
                .card-tag {
                  position: absolute;
                  top: 0;
                  left: 0;
                  font-size: 14px;
                  padding: 0 5px;
                  background: $primary;
                  font-weight: 700;
                  color: #FFF;
                }
              }
              .card-footer {
                background: #000;
                color: #FFF;
                .card-description {
                  padding: 8px;
                  font-size: 12px;
                }
                .card-action {
                  padding: 8px;
                  padding-top: 0;
                  text-align: right;
                  a {
                    font-weight: 800;
                    font-size: 14px;
                    color: #FFF;
                    i {
                      color: $primary;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .navbar-toggler {
    i {
      color: #FFF;
      font-size: 34px;
      &:before {
        transition: transform 0.15s ease-out;
      }
      &.bi-x-lg {
        font-size: 30px;
      }
      &.show:before {
        transform: rotate(90deg);
      }
    }
  }
}
main {
  padding-top: 57px;
}

.banner-swiper {
  .slide {
    background: #D9D9D9;
  }
  .banner-swiper-content {
    height: 100%;
    text-align: center;
    .banner-swiper-html {
      font-size: 18px;
      margin-bottom: 20px;
      font-weight: 600;
    }
    .btn {
      max-width: 200px;
    }
  }
}
.flex {
  display: flex;
  &-align-center {
    align-items: center;
  }
  &-justify-center {
    justify-content: center;
  }
  &-column {
    flex-direction: column;
  }
}
.btn {
  font-family: 'Roboto';
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &-dark {
    background: #000; 
  }
  &-lg {
    min-width: 200px;
    height: 60px;
    font-size: 18px;
    border-radius: 5px;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 800;;
}
h3 {
  margin-bottom: 25px;
}
.swiper.swiper-cards {
  padding-bottom: 30px;
  .swiper-pagination {
    bottom: 0;
  }
}
.swiper {
  .swiper-pagination {
    .swiper-pagination-bullet {
      background: none;
      border: 1px solid #000;
      opacity: 1 !important;
      width: 10px;
      height: 10px;
      &-active {
        background: #000;
      }
    }
  }
}
.card {
  border-radius: 0 !important;
  .card-item {
    .card-image {
      height: 205px;
      background: #AFAFAF;
      position: relative;
      .card-tag {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 14px;
        padding: 0 5px;
        background: $primary;
        font-weight: 700;
        color: #FFF;
      }
    }
    .card-footer {
      background: #000;
      color: #FFF;
      border-radius: 0 !important;;
      .card-description {
        padding: 8px;
        font-size: 12px;
      }
      .card-action {
        padding: 8px;
        padding-top: 0;
        text-align: right;
        a {
          font-weight: 800;
          font-size: 14px;
          color: #FFF;
          &:hover {
            color: $primary;
          }
          i {
            color: $primary;
          }
        }
      }
    }
  }
  &.card-testimonial {
    .card-image {
      .card-tag {
        width: 100%;
        background: #2E7CF6;
        text-align: center;
        font-size: 12px;
        font-weight: 800;
      }
    }
  }
  &.card-news {
    .card-image {
      .card-tag {
        top: initial;
        bottom: -10px;
        font-size: 12px;
        font-weight: 800;
        padding: 2px 8px;
      }
    }
    .card-footer {
      min-height: 100px;
      .card-title {
        padding-top: 8px;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 0;
      }
      .card-description {
        padding: 0;
        font-size: 12px;
      }
    }
  }
}
.grid {
  display: grid;
}
.grid-stats {
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  .number {
    font-size: 40px;
    font-weight: 800;
    text-align: right;
    color: $primary;
  }
  .name {
    font-size: 18px;
    font-weight: 600;
  }
}

#footer {
  background: #D9D9D9;
  .dots {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
    position: relative;
    margin-bottom: 50px;
    &:after {
      content: ' ';
      position: absolute;
      width: 200px;
      height: 2px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background: #000;
    }
    span {
      width: 46px;
      height: 46px;
      background: #000;
      border-radius: 50%;
    }
  }
  .sitemap {
    font-family: 'Inter';
    text-align: center;
    ul {
      margin: 0;
      li {
        list-style: none;
        font-size: 15px;
        font-weight: 400;
        padding-bottom: 15px;
        &:last-child {
          padding-bottom: 0;
        }
        b {
          font-size: 18px;
          font-weight: 800;
        }
        a {
          color: #000;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}