/* Define the keyframes for the bounce animation */
@keyframes bounce {
  0%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(15px);
  }
  60% {
    transform: translateX(10px);
  }
}

html {
  background: linear-gradient(90deg, #0E1024 1.3%, #0C1826 100%);
  overflow-x: hidden;
  .mobile-only {
    background-color: white;
    min-height: 100vh;
    width: 420px !important;
    margin: auto;
    nav.navbar {
      width: 420px !important;
      margin: auto;
      overflow-x: hidden !important;
    }
  }
}

$primary: #9030CF;
$section-gray-bg: #D9D9D9;
$white: #F4F4F4;

body {
  font-family: 'Archivo';
  background: linear-gradient(90deg, #0E1024 1.3%, #0C1826 100%);
  color: $white;
}
.cursor-pointer {
  cursor: pointer !important;
}
a {
  text-decoration: none !important;
  color: $primary;
}
.color-primary {
  color: $primary;
}
nav.navbar {
  position: fixed;
  top: 0;
  display: block;
  background: #000;
  width: 100%;
  padding: 0;
  transition: background 0.15s ease;
  font-family: 'Inter';
  z-index: 100;
  &.navbar-open {
    background: #252525;
  }
  .navbar-brand {
    padding: 3px 0;
    display: flex;
    align-items: center;
    img {
      height: 51px;
      width: 51px;
    }
    .brand-text {
      color: #FFF;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      line-height: 1;
      font-weight: 600;
    }
  }
  .navbar-toggler {
    border: none !important;
    box-shadow: none !important;
  }
  .navbar-collapse {
    @media (min-width: 992px) {
      justify-content: end;
    }
  }
  .navbar-collapse ~ nav.navbar {
    background-color: #FFF;
  }
  .navbar-nav-links {
    display: none;
    color: #FFF;
    @media (min-width: 992px) {
      display: flex;
    }
    .nav-item {
      .nav-link {
        color: #FFF; 
        font-family: 'Inter';
        font-size: 12px;
        font-weight: 600;
        &:hover {
          color: $primary;
        }
      }
    }
  }
  .mobile-navbar-content {
    height: calc(100vh - 57px);
    @media (min-width: 992px) {
      display: none;
    }
      
    ul {
      margin: 0;
      margin-top: 10px;
      padding: 0 10px;
      li {
        list-style: none;
        padding: 5px 0;
        .nav-menu-title {
          font-size: 25px;
          font-weight: 700;
          text-transform: uppercase;
          color: #FFF;
          cursor: pointer;
          &:hover {
            color: $primary;
          }
        }
        .nav-menu-content {
          padding-top: 10px;
          &__cards {
            display: flex;
            width: 100%;
            gap: 10px;
            .card-item {
              min-height: 211px;
              width: 204px;
              .card-image {
                height: 115px;
                background: #AFAFAF;
                position: relative;
                .card-tag {
                  position: absolute;
                  top: 0;
                  left: 0;
                  font-size: 14px;
                  padding: 0 5px;
                  background: $primary;
                  font-weight: 700;
                  color: #FFF;
                }
              }
              .card-footer {
                background: #000;
                color: #FFF;
                .card-description {
                  padding: 8px;
                  font-size: 12px;
                }
                .card-action {
                  padding: 8px;
                  padding-top: 0;
                  text-align: right;
                  a {
                    font-weight: 800;
                    font-size: 14px;
                    color: #FFF;
                    i {
                      color: $primary;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .navbar-toggler {
    i {
      color: #FFF;
      font-size: 34px;
      &:before {
        transition: transform 0.15s ease-out;
      }
      &.bi-x-lg {
        font-size: 30px;
      }
      &.show:before {
        transform: rotate(90deg);
      }
    }
  }
}
main {
  padding-top: 57px;
}

.banner-swiper {
  .slide {
    background: $section-gray-bg;
  }
  .banner-swiper-content {
    height: 100%;
    text-align: center;
    .banner-swiper-html {
      font-size: 18px;
      margin-bottom: 20px;
      font-weight: 600;
    }
    .btn {
      max-width: 200px;
    }
  }
}
.flex {
  display: flex;
  &-align-center {
    align-items: center;
  }
  &-justify-center {
    justify-content: center;
  }
  &-column {
    flex-direction: column;
  }
}
.btn {
  font-family: 'Roboto';
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &-dark {
    background: #000; 
  }
  &-lg {
    min-width: 200px;
    height: 60px;
    font-size: 18px;
    border-radius: 5px;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 800;
}
h3 {
  margin-bottom: 25px;
}
.swiper.swiper-cards {
  padding-bottom: 30px;
  .swiper-pagination {
    bottom: 0;
  }
}
.swiper {
  .swiper-pagination {
    .swiper-pagination-bullet {
      background: none;
      border: 1px solid #FFF;
      opacity: 1 !important;
      width: 10px;
      height: 10px;
      &-active {
        background: #FFF;
      }
    }
  }
} 
.card {
  border-radius: 0 !important;
  background-color: transparent;
  .card-item {
    border-radius: 24px;
    overflow: hidden;
    width: 230px;
    @media screen and (min-width: 768px) {
      width: 317px;
      .card-image {
        height: 317px;
      }
    }
    .card-image {
      height: 230px;
      background: #AFAFAF;
      position: relative;
    }
    .card-tag {
      font-size: 14px;
      padding: 4px 8px;
      border-radius: 8px;
      background: linear-gradient(268.74deg, rgba(120, 195, 255, 0.3) -36.11%, rgba(144, 48, 207, 0.3) 134.81%),
        linear-gradient(0deg, #000910, #000910);
      font-weight: 600;
      color: $white;
      line-height: 20px;
    }
    .card-footer {
      background: linear-gradient(268.74deg, rgba(120, 195, 255, 0.3) -36.11%, rgba(144, 48, 207, 0.3) 134.81%);
      color: #FFF;
      border-radius: 0 !important;
      padding: 24px;
      border-top: 0;
      .card-description {
        padding: 8px;
        font-size: 12px;
      } 
      .card-action {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        a {
          font-weight: 800;
          font-size: 20px;
          line-height: 21.76px;
          color: #FFF;
          svg {
            transition: transform 0.3s ease-in-out;
            will-change: transform;
          }
          &:hover {
            color: $primary;
            svg {
              animation: bounce 1s; 
            }
          }
          i {
            color: $primary;
          }
        }
      }
    }
  }
  &.card-testimonial {
    .card-image {
      .card-tag {
        width: 100%;
        background: #2E7CF6;
        text-align: center;
        font-size: 12px;
        font-weight: 800;
      }
    }
  }
  &.card-news {
    .card-image {
      .card-tag {
        top: initial;
        bottom: -10px;
        font-size: 12px;
        font-weight: 800;
        padding: 2px 8px;
      }
    }
    .card-footer {
      min-height: 100px;
      border-top: 0;
      .card-title {
        padding-top: 8px;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 0;
      }
      .card-description {
        padding: 0;
        font-size: 12px;
      }
    }
  }
  .cube-card {
    border: 0;
    color: $white;
    max-width: 317px;
    @media screen and (max-width: 767px) {
      max-width: 237px;
      .card-image {
        img {
          max-width: -webkit-fill-available;
        } 
      }
    }
    .tag {
      background: linear-gradient(268.74deg, rgba(120, 195, 255, 0.3) -36.11%, rgba(144, 48, 207, 0.3) 134.81%),
        linear-gradient(0deg, #000910, #000910);
      border-radius: 8px;
      color: $white;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      padding: 4px 8px;
      margin: auto;
      position: absolute;
      z-index: 2;
      bottom: 10px;
      left: 0;
      right: 0; 
      width: fit-content;
      text-align: center;
    }
    .card-image {
      border-radius: 24px;
      overflow: hidden;
      position: relative;
    }
    .card-footer {
      padding: 0;
      margin-top: 10px;
      border-top: 0;
    }
    .card-title {
      display: flex;
      font-size: 16px;
      line-height: 24px;
      svg {
        block-size: 20px;
        margin-right: 10px;
      }
    }
    .card-content {
      margin-inline-start: 32px;
    }
    .card-name {
      font-weight: 800;
      font-size: 16px;
      line-height: 32px;
      background: linear-gradient(268.74deg, #78C3FF -36.11%, #9030CF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .card-description {
      font-size: 14px;
      line-height: 20px;
    }
  }
  .story-card {
    color: $white;
    .card-image {
      margin-block-end: 20px;
      img {
        aspect-ratio: 16 / 9;
        border-radius: 24px;
      }
    }
    .card-footer {
      padding: 0;
      border-top: 0;
    }
    .card-title {
      font-size: 24px;
      line-height: 32px;
    }
    .card-description {
      font-size: 16px;
      line-height: 24px;
    }
    .card-cta {
      display: flex; 
      gap: 10px;
      margin-block-start: 20px;
      a {
        border-radius: 8px;
        color: $white;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        min-height: 48px;
        padding-block: 12px;
        padding-inline: 16px;
        &:first-child {
          background: linear-gradient(268.74deg, #78C3FF -36.11%, #9030CF 134.81%);
        }
        &:last-child {
          background: linear-gradient(268.74deg, rgba(120, 195, 255, 0.3) -36.11%, rgba(144, 48, 207, 0.3) 134.81%);
          border: 1px solid linear-gradient(268.74deg, #78C3FF -36.11%, #9030CF 100%);
        }
      }
    }
  }
}
.grid {
  display: grid;
}
.grid-stats {
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  .number {
    font-size: 40px;
    font-weight: 800;
    text-align: right;
    color: $primary;
  }
  .name {
    font-size: 18px;
    font-weight: 600;
  }
}
.header-banner {
  color: #000;
  font-size: 30px;
  line-height: 40.85px;
  min-height: 220px;
  &.dark {
    background-color: $section-gray-bg;
  }
}
.carousel-section {
  background: linear-gradient(90deg, #0E1024 1.3%, #0C1826 100%);
  padding: 30px 0;
  .section-header {
    margin-block-end: 40px;
    .title {
      color: $white;
      font-size: 35px;
      line-height: 47.66px;
      margin-block-end: 0;
    }
    .description {
      font-size: 12px;
      line-height: 16.34px;
    }
  }
  .swiper-container {
    margin-block: 10px;
    margin-right: calc(50% - 50vw);
  }
  .swiper-slide {
    border: 0;
    width: auto!important;
  }
}
.newsletter-section {
  background: linear-gradient(268.74deg, rgba(120, 195, 255, 0.05) -36.11%, rgba(144, 48, 207, 0.05) 134.81%),
    linear-gradient(0deg, #000910, #000910);
  padding: 100px 0;
  .newsletter-container {
    border-radius: 24px;
    background: linear-gradient(268.74deg, rgba(120, 195, 255, 0.2) -36.11%, rgba(144, 48, 207, 0.2) 100%);
    color: $white;
    max-width: 1040px;
    margin: auto;
    padding: 30px;
    min-height: 411px;
  }
  .newsletter-content {
    align-self: center;
  }
  .title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
  }
  .description {
    margin-bottom: 24px;
  }
  .cta {
    background: linear-gradient(268.74deg, #78C3FF -36.11%, #9030CF 134.81%);
    border-radius: 8px;
    color: $white;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;  
    width: fit-content; 
  }
}
.container {
  max-width: 1040px;
  padding-inline: 20px;
  @media screen and (min-width: 1040px) {
    padding: 0;
  }
}
.programs-section {
  background: linear-gradient(90deg, #060C1A 0.73%, #06111B 100%);
  color: $white;
}
.features-section {
  padding: 30px 0;
  .features {
    list-style: none;
    li {
      display: flex;
      align-items: center;
    }
    i {
      margin-right: 12px;
      font-size: 20px;
      background: linear-gradient(268.74deg, #78C3FF -36.11%, #9030CF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
#footer {
  background: #0E1024;
  color: $white;
  padding-block: 120px;
  .container {
    max-width: 1040px;
    padding: 0;
  }
  .dots {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
    position: relative;
    margin-bottom: 50px;
    &:after {
      content: ' ';
      position: absolute;
      width: 200px;
      height: 2px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background: #000;
    }
    span {
      width: 46px;
      height: 46px;
      background: #000;
      border-radius: 50%;
    }
  }
  .sponsors {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
      max-height: 60px;
    }
    @media screen and (max-width: 768px) {
      justify-content: space-around;
    }
  }
  .sitemap {
    color: $white;
    display: flex;
    justify-content: space-between;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        font-size: 15px;
        font-weight: 400;
        padding-bottom: 8px;
        &:last-child {
          padding-bottom: 0;
        }
        b {
          font-size: 18px;
          font-weight: 800;
        }
        a {
          color: white;
          font-size: 14px;
          line-height: 20px;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
  .socials {
    margin-top: 40px;
    display: flex;
    gap: 24px;
  }
  hr {
    opacity: 1;
    border: 0;
    height: 1px;
    margin-block: 40px;
    background: linear-gradient(268.74deg, #78C3FF -36.11%, #9030CF 134.81%);
  }
  .copyright {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    font-size: 14px;
    line-height: 20px;

    @media screen and (max-width: 767px){
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  .logo {
    img {
      max-height: 33px;
    }
  }
  @media screen and (max-width: 1024px) {
    padding-block: 60px;
    .container {
      padding-inline: 20px;
    }
  }
}
